In [1]:
import pandas as pd
import numpy as np

In [2]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1,index=list(range(4)), dtype = 'float32'),
                    'D': np.array([3] * 4, dtype = 'int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [3]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [5]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df2.head

<bound method DataFrame.head of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [9]:
df2.columns

Index([u'A', u'B', u'C', u'D', u'E', u'F'], dtype='object')

In [10]:
df2.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']], dtype=object)

In [11]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [25]:
df2.sort_index(axis=1, ascending=False)

     F      E  D    C          B    A
0  foo   test  3  1.0 2013-01-02  1.0
1  foo  train  3  1.0 2013-01-02  1.0
2  foo   test  3  1.0 2013-01-02  1.0
3  foo  train  3  1.0 2013-01-02  1.0

In [14]:
df2.sort_values(by='E')

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [19]:
a = np.arange(1,10,1)
len(a)

9

In [27]:
df = pd.DataFrame({'A': np.arange(1,11,1),
                   'B': np.arange(11, 21, 1),
                   'C': np.arange(22, 41, 2)})
df_modified = df.apply(lambda s: s.max())
df_modified
df_modified2 = df.apply(lambda s: s.max()- s.min())
df_modified2
justchecking = df.max()
justchecking.shape

(3,)

In [29]:
s = pd.Series(np.random.randint(0, 7, size=10))
s.value_counts()

3    3
4    2
1    2
6    1
2    1
0    1
dtype: int64

In [31]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  0.768742  0.659209  1.158845 -0.306184
1  1.323804  0.410662 -0.736864 -0.069792
2  1.759700  0.136351  3.680846 -0.567461
3 -0.441844  0.738019 -0.780339  2.232221
4  0.725262  0.481895 -0.094243 -0.985745
5 -0.268457  1.053729 -0.714612 -0.987979
6 -1.410672  1.428141 -0.425462  1.499476
7 -0.962040  0.899108 -1.272590 -2.308722
8  0.101598 -0.290321 -0.961136 -0.878621
9  0.108419  1.145462  0.695291 -0.592569

In [32]:
pieces = [df[:2], df[3:5], df[8:]]

In [33]:
df2 = pd.concat(pieces)
df2

          0         1         2         3
0  0.768742  0.659209  1.158845 -0.306184
1  1.323804  0.410662 -0.736864 -0.069792
3 -0.441844  0.738019 -0.780339  2.232221
4  0.725262  0.481895 -0.094243 -0.985745
8  0.101598 -0.290321 -0.961136 -0.878621
9  0.108419  1.145462  0.695291 -0.592569

# The difference of merge and append
merge is refering the on variable and if there is the same value on that variable, mergeing the column
Append is forcely append one after another

In [42]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right1 = pd.DataFrame({'key': ['hoo', ' hee'], 'rval': [3, 4]})
right2 = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [7575, 8923]})
print left
print right
lr1 = pd.merge(left, right1, on = 'key')
print lr1
lr2 = pd.merge(left, right2, on = 'key')
print lr2

   key  lval
0  foo     1
1  foo     2
    key  rval
0   hoo     3
1   hee     4
Empty DataFrame
Columns: [key, lval, rval]
Index: []
   key  lval  rval
0  foo     1  7575
1  foo     1  8923
2  foo     2  7575
3  foo     2  8923

In [48]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
piece = df.iloc[3]
piece1 = pd.DataFrame(np.random.randn(2, 4), columns=['c', 'D', 'E', 'F'])
df2 = df.append(piece, ignore_index = True)
print df2
df3 = df.append(piece, ignore_index = False)
print df3
df4 = df.append(piece1, ignore_index =True)
print df4

          A         B         C         D
0  0.003332  0.713616  1.389492 -0.687805
1 -0.327339  0.501521 -0.804965  1.256557
2  0.006303  0.532315 -0.553037 -1.065424
3  1.036115  0.667656  0.079289 -1.221389
4 -0.742525  0.751680 -0.482805  0.391092
5  0.114954  0.021421  0.310859 -0.101891
6 -2.310786 -1.385703  1.021635 -0.669421
7 -0.445459 -1.745764 -0.037554 -1.729212
8  1.036115  0.667656  0.079289 -1.221389
          A         B         C         D
0  0.003332  0.713616  1.389492 -0.687805
1 -0.327339  0.501521 -0.804965  1.256557
2  0.006303  0.532315 -0.553037 -1.065424
3  1.036115  0.667656  0.079289 -1.221389
4 -0.742525  0.751680 -0.482805  0.391092
5  0.114954  0.021421  0.310859 -0.101891
6 -2.310786 -1.385703  1.021635 -0.669421
7 -0.445459 -1.745764 -0.037554 -1.729212
3  1.036115  0.667656  0.079289 -1.221389
          A         B         C         D         E         F         c
0  0.003332  0.713616  1.389492 -0.687805       NaN       NaN       NaN
1 -0.327339  0.501521 -0.804965  1.256557       NaN       NaN       NaN
2  0.006303  0.532315 -0.553037 -1.065424       NaN       NaN       NaN
3  1.036115  0.667656  0.079289 -1.221389       NaN       NaN       NaN
4 -0.742525  0.751680 -0.482805  0.391092       NaN       NaN       NaN
5  0.114954  0.021421  0.310859 -0.101891       NaN       NaN       NaN
6 -2.310786 -1.385703  1.021635 -0.669421       NaN       NaN       NaN
7 -0.445459 -1.745764 -0.037554 -1.729212       NaN       NaN       NaN
8       NaN       NaN       NaN  0.015836 -1.135566  0.698355 -0.164902
9       NaN       NaN       NaN  0.042647  0.750953  1.336827 -0.330278

In [50]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz','foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two','one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
print df

                     A         B
first second
bar   one     0.152440  2.780538
      two    -0.429853 -0.046008
baz   one    -0.957184  0.107431
      two     2.906996 -0.263054
foo   one    -1.121877 -2.100742
      two     0.097906 -1.089816
qux   one    -0.236964  0.179400
      two    -1.815982  1.462798

In [52]:
df2 = df[:4]
stacked = df2.stack()
print stacked

first  second
bar    one     A    0.152440
               B    2.780538
       two     A   -0.429853
               B   -0.046008
baz    one     A   -0.957184
               B    0.107431
       two     A    2.906996
               B   -0.263054
dtype: float64

# Plotting

In [53]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()
#To Do how to show the graph on ipython by pandas

# Getting Data I/O

In [ ]:
#Writing a csv file 
df.to_csv('foo.csv')
# to Excel file
df.to_excel('foo.xlsx', sheet_name='Sheet1')
# read excel file
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])